In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [5]:
houses = pd.read_csv('downloads/test.csv')
houses

   size  price
0  2104    460
1  1416    232
2  1534    315
3   253    178

In [7]:
y = houses[['price']]
x = houses[['size']]

In [ ]:
from sklearn.linear_model import LinearRegression

In [9]:
from sklearn.model_selection import train_test_split